@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    string layout = "Views/Shared/_MainLayout.cshtml";

    string body = "Hello HTML";

    if (ViewBag.RequestType == "api")
    {
        layout = null;
        body = "Hello API";
    }

    Layout = layout;
}

<div class="page">@body</div>